# Node.js
node_modules/
npm-debug.log*

# Build output
dist/
build/
out/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency lock files
package-lock.json

# IDE-specific files
.vscode/

# Firebase credentials
serviceAccountKey.json
